<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Working on the site...</title>
</head>

<body>
  <h1>Working on the site...</h1>
  <p>Please come later back!</p>
</body>
</html>
